*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.mulherflorista{
    width: 120px;
    height: 137px;
}

.escola{
    background: rgb(191,242,201);
    background: radial-gradient(circle, rgba(191,242,201,1) 0%, rgba(242,188,188,1) 100%);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.titulo{
    padding: 24px 0;
}


.escola-div-conteudo{
    width: 35%;
}


.funcionariastitulo{
    padding: 24px 0;
}

.estudante{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}

.funcionariastitulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
